* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-fonts-smoothing: antialiased;
    background-color: black;
    height: 100vh;
    width: 100%;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-duration: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {
        background-image: url(../images/2.jpg);

    }

    20% {
        background-image: url(../images/3.jpg);

    }

    40% {
        background-image: url(../images/4.jpg);

    }

    60% {
        background-image: url(../images/5.jpg);

    }

    80% {
        background-image: url(../images/6.png);

    }

    100% {
        background-image: url(../images/7.jpg);

    }
}

/* header */

.waviy {
    position: relative;
}

.waviy span {
    margin-left: 5em;
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
    text-decoration: none;
}

header nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;


}

header nav ul li a:hover {
    color: rgb(195, 195, 46);
}



.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 5%;
}

.videoWrapper iframe {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 90%;
}

/* main */

main {
    margin-top: 30px;
    margin-bottom: 30px;
}

main .container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin-left: 30px;
    margin-bottom: 30px;
}


h2 {
    text-align: left;
    color: white;
    font-size: 35px;
    line-height: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 5%;
}

h3 {

    color: white;
    font-size: 20px;
    line-height: 28px;
    font-weight: 100;
    margin-bottom: 2em;
}

form {
    margin-right: 20px;
    text-align: center;
}

form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid rgb(195, 195, 46);

}

form [type="submit"] {
    background-color: rgb(209, 180, 63);
    color: white;
    transition: all 250ms linear 0s;

}

form [type="submit"]:hover {
    cursor: pointer;
    background-color: #cc9933;
    border: 2px solid #cc9933;
}

/* cards */

.cards {

    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.title-text-medium {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #a77410;
}

.info .text-medium {
    font-size: 15px;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.image {
    width: 300px;
    height: 300px;
    padding-top: 20%;
    overflow: hidden;
    position: relative;
}

.image:hover {
    opacity: 50%;

}

.image img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    margin: 20px;
}

.title {
    margin-bottom: 0px;
    text-align: center;
}

/* contact */

.container-contact {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    margin-top: 5%;
}

.contact-box {
    max-width: 850px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8%;
}

.right {
    padding: 25px 40px;
}

.formulario h2 {
    position: relative;
    padding: 0 0 10px;
    margin: auto;
    margin-bottom: 1em;
    color: rgb(195, 195, 46);
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;

}

.field {
    width: 90%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    border-radius: 20px;
    border: 2px solid rgb(195, 195, 46);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 60%;
    padding: 1rem 2rem;
    background-color: rgb(195, 195, 46);
    color: #fff;
    font-size: 1.4em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}

.btn:hover {
    background-color: #cc9933;
}

.field:focus {
    border: 2px solid #cc9933;
}

/* footer */

footer {
    position: relative;
    background-image: url(../images/dark.jpg);
    background-size: contain;
    background-position: right;
    height: auto;
    width: 100%;
    padding-top: 40px;
    overflow-x: hidden;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content img {
    width: 20%;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
}

.footer-content h4 {
    font-size: 13px;
    color: #fff;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #121212;
}

.socials a i {
    font-size: 1.1rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: white;
}

.footer-bottom {
    background-color: rgb(56, 55, 55);
    opacity: 1;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.footer-bottom p {
    font-size: 20px;
    word-spacing: 4px;
}

.footer-bottom a {
    color: rgb(195, 195, 46);
}

/* responsive*/
@media (max-width: 1000px) {

    html,
    body {
        width: 100%;
    }

    main .container-main div {
        margin: auto;
    }

    main .container-main img {
        display: none;
    }

    h2 {

        margin-top: 40px;
        text-align: center;
    }

    div h3 {

        margin-top: 50px;
        text-align: center;
    }

    form {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        text-align: center;
        flex-direction: column;
    }

    input {
        margin: 12px;
    }

    .videoWrapper {
        padding-top: 25px;
        margin: 0 auto;
        height: 0;
        width: 90%;

    }

    @media (min-height: 831px) {
        .container-menu {
            display: none;
        }
    }

    @media (max-width: 1000px) {
        .container {
            padding: 0px 20px;
        }
    }

    @media (max-width: 530px) {
        nav {
            display: none;
        }

        main .container-menu img {
            display: none;
        }

        .container-menu {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        label {
            cursor: pointer;
            position: relative;
            display: block;
            width: 30px;
            height: 30px;
        }
    }
}